body {
	background-color: #232323;
	margin: 0;
	font-family: sans-serif;
}

.square {
	background: purple;
	padding-bottom: 30%;
	border-radius: 50%;
	height: 150px;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 700px;
	height: 600px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	background-color: steelblue;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

#message {
	display: inline-block;
	width: 20%;
}

.selected {
	color: white;
	background-color: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
}

#designed {
	color: white;
	text-align: center;
}

#name {
	font-family: 'Pacifico', cursive;
}

button:hover {
	color: white;
	background-color: steelblue;
}

@media (max-width: 767px) {
	#container {
		margin: 20px 25px;
	}
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
}
