#win1,
#win2 {
    display: none;
}

button:hover {

    background: skyblue;

}

body {
    background: url(1.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-size: 50px;

}